<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Stanchion - Dynamic Crowd Control</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/index.css" rel="stylesheet">
    <link href="../static/css/responsive.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navigation -->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
            Menu
          </button>
          <a class="navbar-brand" href="/">stanchion</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#home" class="page-scroll">home</a></li>
            <li><a href="#about" class="page-scroll">about</a></li>
            <li><a href="#the-app" class="page-scroll">the app</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Home -->
    <div id="home">
        <div class="bg-image shadow-2">
            <!-- <div class="image-overlay">
            </div> -->
        </div>
        <div class= "overlay">
            <div class="title-container col-sm-8 col-sm-offset-2">
                <h1>Stanchion</h1>
                <h3>Dynamic Crowd Control</h3>
            </div>
        </div>

        <a href="#about" class="arrow-down col-sm-8 col-sm-offset-2 page-scroll shadow-3">
            <i class="fa fa-arrow-down"></i>
        </a>
    </div>

    <!-- About -->
    <div id="about" class="shadow-2">
        <div class="text-container col-sm-8 col-sm-offset-2">
            <h2>what we do</h2>
            <p>Stanchion delivers dynamic crowd control with predictive analysis. Stanchions of the past were static, unable to adjust for changing traffic flow without manual intervention. Stanchion enables simple and automatic adjustment via image recognition and mechanization.</p>

            <h2>our clients</h2>
            <p>Anywhere you can find a long line, you can find a use for Stanchion. Stanchion can facilitate crowd control at airports, amusement parks, movie theaters, and large-scale events like concerts and hackathons.For these clients, Stanchion can serve as a cost-saving mechanism, avoiding wages wasted on manual adjustments while providing a better experience for attendees. Additionally, in high security settings, Stanchion's image recognition capabilities can aid entities like TSA in securing points of entry and avoiding security breaches.
            </p>
        </div>
    </div>

    <!-- To App -->
    <div id="the-app">
        <div class="bg-image">
        </div>
        <div class="overlay"> 
        </div>
        <div class="text-container col-sm-8 col-sm-offset-2">
            <h2>check out the app!</h2>
            <p>Lorem ipsum dolor sit amet, nulla nulla accumsan est facilisi in. Ipsum et sem nulla, vitae minus wisi sed mauris vehicula, dignissim blandit vel tincidunt mauris quisque. In tincidunt quis nulla at nisl nulla. Eu praesent, orci praesent imperdiet non, diam egestas leo viverra vestibulum pharetra, leo sed suspendisse pretium etiam a. Enim accumsan augue, et a, ac neque ornare cras fusce dui amet. Donec nulla praesent laoreet vel amet, quam semper velit faucibus at, ut mi adipiscing, praesent auctor lorem. Eget enim est vestibulum sit. Erat vehicula a ut ante duis justo, sed ultricies fusce massa nam, tristique id tellus, sed turpis id et mi libero vel. Aliquam accumsan massa erat libero, sollicitudin tortor sodales vitae, tortor integer suspendisse vulputate consequat, ipsum purus rutrum rhoncus facilisis et, aliquam etiam faucibus arcu cum eget.
            </p>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <p>Created at HackMIT 2015 by Kim Asenbeck, Vasu Agrawal, Sam Chin, and Franton Lin</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script type="text/javascript" src="static/js/index.js"></script>


</body>

</html>
